*
{
	margin: 0;
	padding: 0;
}

 header
  {
	   background-image: url(wonderwall__cafe_gallery.jpeg);
	   height: 85vh;
	   background-size: cover;
	   background-position:center;
	   box-sizing:border-box;
	   font-family:sans-serif;
  }
.main-nav
  {
	    float:right;
		list-style: none;
		margin-top: 30px;
  
  }
 .main-nav li
   {
	   display:inline-block;
   }
 .main-nav li a
	{
		 color:darkblue;
		 text-decoration: none;
		 padding: 5px 20px;
		 font-family: "Roboto", sans-serif;
		 font-size:30px;
		 
	}
	 
.main-nav li.active a
	 {
		 border: 1px solid white;
	 } 
.main-nav li a:hover 
	  
	 
	  {
		   border: 1px solid white;
	  }

.logo img
      {
		  float: left;
		  width:150px;
		  height: auto;
	  }
	  

 .title h1{
	 color: white;
	 font-size: 70px;
	 

 }
 .title
      {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }


.clearfix:after
 {
  content: "";
  display: table;
  clear: both;
}


.title8 
h1{
	  
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align:LEFT;
  text-transform: uppercase;
  color: maroon;
}

p {
  text-indent: 50px;
  text-align: LEFT;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}



